body{
	background:100% white; 
}

@font-face {
            font-family: 'DS-DIGIB';
            src: url(DS-DIGIB.TTF);
        }

.blocks{
	display:inline-table;
	width:100%;
	border:green solid;
	height:1000px;
	text-align: center;
	
}

.blocks ul{
	display:table-row;
	height:100%;
}

.clock{
	display:table-cell;
	border:solid red;
}

.clock.h-m{
	width:20%;
	background: white;
	font-size: 100px;
	font-family: 'DS-DIGIB';
	font-size: 20em;
}


.clock.semicolumn{
	width:5%;
}

/*Adding animation of 2 dots*/

@keyframes colon-disappear {
    0% {
        background-color:transparent;
    }
    100% {
        background-color:red;
    }
}

.colon{
	animation-name:colon-disappear;
	animation-iteration-count:infinite;
	animation-duration:1s;
	position:relative;
	text-align:center;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color: red;
	-webkit-filter: drop-shadow(0px 60px red);
	filter:drop-shadow(0px 60px red);
	margin:auto;
}
