body{
	background:100% white; 
}

@font-face {
            font-family: 'DS-DIGIB';
            src: url(DS-DIGIB.TTF);
        }

.blocks{
	display:inline-table;
	width:100%;
	border:green solid;
	height:1000px;
	text-align: center;
	
}

.blocks ul{
	display:table-row;
	height:100%;
}

.clock{
	display:table-cell;
	border:solid red;
}

.clock.h-m{
	width:20%;
	background: white;
	font-size: 100px;
	font-family: 'DS-DIGIB';
}


.clock.semicolumn{
	width:5%;
}

.line{
	position:absolute;
	height:10px;
	width: 200px;
	background-color:red;
	border-color: green;
	border-width: 5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.line::before{
	content:'';
	display:block;
	position:relative;
	top:10px;
	height:0px;
	width: 180px;
	border:10px solid red;
	border-left-color:white;
	border-right-color:white;
}

.line::after{
	content:'';
	display:block;
	position: relative;
	left:0px;
	width:200px;
	height:10px;
	background-color:white;
	
}

.middle-line{
	position:absolute;
	height:0px;
	width:200px;
	background-color:red;
	position:relative;
	top:10px;
}

.middle-line::before{
	content:'';
	display:block;
	position: relative;
	height:0px;
	background-color: red;
	border:10px solid red;
	border-left-color:white;
	border-right-color:white;
	border-bottom:0px;
}

.middle-line::after{
	content:'';
	display:block;
	position: relative;
	top:-20px;
	height:0px;
	border:10px solid red;
	border-left-color:white;
	border-right-color:white;
	border-top:0px;
}

.colon{
	position:relative;
	text-align:center;
	top:30px;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color: red;
	box-shadow:0px 60px red;
	margin:auto;
}